<!DOCTYPE html>
<html>
  <head>
     <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
 <body>
     <p>
        Payment details<br>
        --------------------------
        <%=debugger%> 
          venue_owner: <%=@user.id%>
     </p>
     
     <p>
        Message:<br>
        <%# Booking ID  :<%=current_user.id%> %>
        Your booking has been approved
     </p>
  </body>
</html>