<!DOCTYPE html>
<html>
  <head>
     <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
 <body>
     <p>
        booking details<br>
        --------------------------
        Booking ID: <%=@booking.id%>
     </p>
     <p>
        Message:<br>
        Booking ID:<%=@booking.id%>
        Your booking has been canceled
     </p>
  </body>
</html>