<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    booking details<br>
    --------------------------
    Booking ID: <%=@booking.id%>
    venue name: <%=@venue.name%>
    </p>
   
    <p>
    Message:<br>
    Here are new booking
    </p>
  </body>
</html>