<h1>Venue show page</h1>
<div>
   <b>Venue Name:</b>
  <%= @venue.name %><br> 
  <b> Venue.address:</b>
  <%= @venue.address%><br>
  <b>Venue_Type:</b>
  <%=@venue.venue_type%><br>
  <b>contact_no:</b>
  <%=@venue.contact_no%><br>
</div>