<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img//apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img//favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  
  <!-- CSS Files -->
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track': 'reload' %> 
  <%= javascript_include_tag 'landing', 'data-turbolinks-track': 'reload' %> 
  <%# <link href="/assets/landing/css/bootstrap.min.scss" rel="stylesheet" /> %>
  <%# <link href="/assets/landing/css/paper-kit.scss?v=2.2.0" rel="stylesheet" /> %>
  <style>
    /* The animation code */
      @keyframes example {
        from {background-image: url('https://tribune-reloaded.s3.amazonaws.com/media/images/restaurants1593925683-0/restaurants1593925683-0.jpg')}
              
        to  {background-image: url('https://wanderfost.com/wp-content/uploads/2019/07/Hero_-_Abbey.jpg')}
      }

    /* The element to apply the animation to */
    div.page-header {
      /* width: 100px; */
      /* height: 100px; */
      /* background-color: red; */
      animation-name: example;
      animation-duration: 10s;
      animation-iteration-count: 30000;
    }
 </style>
  <!-- CSS Just for demo purpose, don't include it in your project -->
   <%# <link href="../assets/demo/demo.css" rel="stylesheet" />  %>
</head>

<body class="landing-page sidebar-collapse">
  
  <%= yield%>
  
</body>
</html>